@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-white: #FFFFFF;
  --clr-light-white: #EBEBEB;
  --clr-grey: #292929;
  --clr-light-grey: #2E2E2E;
  --clr-black: #212529;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 100px auto;
  /* padding-left: 1rem;
  padding-right: 1rem; 
  border: 1px solid;*/
}

.output-container {
  min-height: 150px;
  width: 100%;
  border: 1px solid;
}

.out-put {
  min-height: 130px;
  width: 98.3%;
  border: 1px solid;
  margin: 10px auto;
}

.keyboard {
  min-height: 350px;
  width: 100%;
  margin-top: 1rem;
  padding: 5px;
  border: 1px solid;
  background-color: var(--clr-light-white);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  width: 70px;
  height: 60px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border: 2px solid var(--clr-white);
}

.tilde {
  width: 98px;
}

.backspace {
  width: 150px;
}

.tap {
  width: 150px;
}

.slash {
  width: 98px;
}

.enter {
  width: 150px;
}

.shift {
  width: 197px;
}

.space {
  width: 723px;
  height: 60px;
}

.bracket {
  width: 98px;
}